@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    --main-font : 'Roboto', sans-serif;
    --nav-bg : #1F2937;
    --nav-title : #F9FAF8;
    --nav-link : #b4b4b4;
    --blue : #3882F6;
    --blue1 : #3166bd;
    --dark-blue : #1F2937;
    --chatbox-bg : #E5E7EB;
}

.main{
    height : 100vh;
    width : 100vw;
}

.main-cont{
    height : 100%;
    width : 100%;
}