nav{
    background-color: var(--nav-bg);
    font-family: var(--main-font);
    padding : 2rem 5rem 2rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 1rem;
    color : var(--nav-title);
    font-size: 3rem;
    user-select: none;
}

.nav-icon{
    height : 3rem;
    width : 3rem;
}

.nav-right ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap : 5rem;
}

.nav-right li{
    color : var(--nav-link);
    font-size: 2rem;
    transition: all 0.3s;
}

.nav-right a{
    color : var(--nav-link);
    text-decoration: none;
    transition: all 0.3s;
}

.nav-right li:hover, .nav-right a:hover{
    cursor: pointer;
    color : var(--nav-title);
}